### Folders ###
.gradle/
.idea/
.settings/
.metadata/
bin/
build/
eclipse/
lib/
mcp/
misc/
out/
run/
ui/

### Files ###
*.bat
*.blend
*.blend1
*.class
*.classpath
*.iml
*.ipr
*.iws
*.mtl
*.project
*.setting
*.txt
*.xcf
*.xml