### Folders ###
.gradle/
.idea/
.settings/
bin/
build/classes/
build/dependency-cache
build/natives
build/resources
build/sources
build/tmp
eclipse/
mcp/
misc/
out/

### Files ###
*.bat
*.blend
*.blend1
*.class
*.classpath
*.iml
*.ipr
*.iws
*.mtl
*.project
*.txt
*.xcf
*.xml
