#  Folders #
.gradle/
.settings/
bin/
build/classes/
build/dependency-cache
build/natives
build/resources
build/sources
build/tmp
eclipse/
mcp/
misc/

# Package Files #
*.bat
*.class
*.classpath
*.project
*.txt
*.xcf
